body {
  background-color: lightgrey;
  height: 100%;
}

nav{
  background-color: hsla( 251, 185, 104,.5);
}

html,
form,
main {
  height: 100%;
}

#bg-img {
  background-image: url(bg.3.png);
  
}

#bg-img2{

  background-image: url(bg.score.png);
  width: 100%;
  height: 100%;
}

#timer {
  text-align: center;
  font-weight: bold;
  color: red;
  border: 1px solid black;
  padding: 10px;
}

option {
  padding: 5px;
}


.quizContainer{
  background-image: url(./correct.bg.png);
}

.container2{

  background-color: white;
}
#button{
  
  position: sticky;

}


